<!DOCTYPE html>
<html lang="en" ng-app="zfModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<div ng-controller="ctrl">
    <table class="table table-responsive">
        <tr>
            <td>书的名字</td>
            <td>书的数量</td>
            <td>书的价格</td>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{book.name}}</td>
            <td>{{book.count}}</td>
            <td>{{book.price}}</td>
        </tr>
    </table>
    <input type="text" ng-model="query" ng-change="getOne()">
    <div class="form-group">
        <label class="control-label">书的名字</label>
        <input type="text" ng-model="list.name" class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">书的数量</label>
        <input type="text" ng-model="list.count" class="form-control">

    </div>
    <div class="form-group">
        <label class="control-label">书的价格</label>
       <input type="text" ng-model="list.price" class="form-control">
    </div>
    <button ng-click="save()" class="btn btn-primary">增加书</button>
</div>
<script src="angular.js"></script>
<script>
    var app = angular.module('zfModule',[]);
    //构建服务
    app.factory('my',function ($http) {
        function book(){
            var books;
            return $http({
                url:'/books',
                method:'GET'
            })
        }
        return {
            getBook: function () {
                return book()
            }
        }
    });
    app.controller('ctrl', function ($scope,my) {
        my.getBook().then(function (data) {
            console.log(data.data);
            $scope.books =data.data
        })
    });



    /*查询一本书 /book
    查询一组书 /books
    保存一本书 /save
    删除一本书 /remove

    /book/1   'GET' 查询1本书
    /book     'GET' 查询所有书
    /book     'POST'增加一本书
    /book/1   'put' 修改一本书
    /book/1   'delete'删除一本书*/

</script>
</body>
</html>